.switch-tipoPessoa-centro {
    margin-top: 22px;
}

.tag-status-cep {
    margin-top: 40px;
}

.img-container {
    text-align: center;
    display: block;
}
.espacoContainer{
    margin-top:10px;
}
.center{
    text-align: center;
}

